/*!
Theme Name: Aktuellezinsen.net
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: aktuellezinsen-net
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Aktuellezinsen.net is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.row-large{
	margin-left: -30px;
	margin-right: -30px;
}


.maxwidth-2{
	max-width: 75%;
}
.navbar{
	background-color: #3c5fa5;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}
.navbar-brand{
	height: auto;
	padding: 11px 15px
}
.navbar .navbar-brand img{
	height: 34px
}

.ct-menu h2{
	font-weight: 700;
}
.ct-top h1{
	font-weight: 700;
}
.ct-testimonials h3{
	margin-left: 15px;
	margin-right: 15px;
	font-weight: 600;
	margin-bottom: 30px
}
.ct-testimonials p{
	font-size: 16px;
}
.panel-heading h3{
	font-size: 24px;
	font-weight: 700;
	margin-top: 5px;
	margin-bottom: 5px;
}
.panel-heading h3.zinsticker-front{
	text-align: left;
}
.ico{
	float: left;
	position: relative;
	-webkit-box-shadow: 4px 4px 4px 0px rgba(154,154,154,1);
	-moz-box-shadow: 4px 4px 4px 0px rgba(154,154,154,1);
	box-shadow: 4px 4px 4px 0px rgba(154,154,154,1);
}

.ico img {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ico h5{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 16px;
	font-weight: 600;
}
.ico a{
	color: #333;
	display: block;
	background-color: rgba(151, 151,151,0.5);
	height: 100%;
	width: 100%;
}
.ico a:hover{
	background-color: rgba(60, 95,165,0.5);
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: #fff
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: transparent;
	border-color: transparent;
}

.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#fff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.navbar-nav{
	display: inline-block;
	float: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background-color: #1d335f
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #fff
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
	font-size: 18px;
}
.navbar-default .navbar-nav > li > a > i.fa{
	margin-left: 5px;
	float: right;
}
.navbar-default .navbar-nav > li > a > strong{
	margin-left: 10px;
	float: right;
}
.navbar-default .navbar-nav > li.dropdown{
	position: relative;
}
.navbar-default .navbar-nav > li:hover, .navbar-default .navbar-nav > li:focus{
	background-color: #1d335f;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #3c5fa5
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: #1d335f;
	color: #3c5fa5
}
.navbar-default .navbar-nav > .open, .navbar-default .navbar-nav > .open:hover, .navbar-default .navbar-nav > .open:focus{
	background-color: #1d335f;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
	color: #3c5fa5
}
.navbar-nav > li > .dropdown-menu{
	background-color: #3c5fa5;
	border-radius: 0;
	border: none;
}
.dropdown-menu > li > a{
	color: #fff;
	font-size: 16px;
}
.dropdown-submenu > .dropdown-menu{
	background-color: #3c5fa5;
	border-radius: 0;
	border: none;
}

footer{
	background-color: #3c5fa5;
	padding-top: 50px;
}
footer p{
	color: #fff;
	margin-bottom: 35px;
	padding-top: 20px;
	border-top: 1px solid #fff
}
footer ul{
	display: inline-block;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

footer ul > li > span{
	display: block;
	padding: 5px 10px;
	color: #fff
}
footer ul > li > a{
	display: block;
	padding: 5px 10px;
	color: #fff
}
footer span{
	display: block;
	color: #fff
}
footer.entry-footer{
	background-color: #fff;

}
footer.entry-footer span{
	color: #3d3d3d
}
.ct-body{
	background-image: url('includes/img/AdobeStock_37235923.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:top -15px center;
	min-height: 700px;
}
.ct-testimonials {
	background-color: #ededed;
}
.ct-news{
	padding-top: 25px;
}

.panel-default{
	border-radius: 0;
	border: none;
	background-color: #3f5fa8;
	box-shadow: none;
}
.panel-default > .panel-heading{
	color: #fff;
	background-color: #3f5fa8;
	border-color: transparent;
	border-radius: 0
}
.panel-body{
	padding: 10px;
	padding-top: 0;
}
.panel-news{
	background-color: #a5a2a2;
	margin: 10px;
	margin-top: 0;
	padding: 0;
	padding-top: 15px;
}
.panel-news ul{
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
}
.panel-news ul > li{
	border-bottom: 1px solid #c3c1c1;
	padding-top: 10px;
	padding-bottom: 10px;
}
.panel-news ul > li > h6{
	font-size: 14px;
	margin-top: 0
}
.panel-news ul > li > h3{
	margin: 0
}
.panel-news ul > li > h3 > a{
	color: #3c5fa5;
	font-weight: 600;
}
.panel-news ul > li > a{
	font-size: 20px;
	color: #3c5fa5;
	font-weight: 600;
}
.panel-body .header	{
	background-color: #a5a2a2;
	padding: 15px 20px;
	color: #fff;
}
.panel-body .body{
	background-color: #fff;
}
.panel-footer{
	background-color: #fff;
	min-height: 10px;
	border: none;
	border-radius: 0
}
.panel-body .btn-default{
	border-color: #a5b4d6;
	border-radius: 0;
	color: #fff;
	background-color: #3f5fa8
}


.anbieter{
	max-width: 60%;
	width: 60%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.anbieter strong{
	font-size: 26px;
	font-weight: 600;
	letter-spacing: -2px
}
.btn-zinssatz{
	float: right;
	border-radius: 0;
	border: none;
	background-color: #a5a2a2;
	margin-top: 3px
}
.panel-default i.fa{
	margin-left: 3px;
}
.table-tagesgeld .zinssatz{
	width: 35%;
}

.table-tagesgeld .zinssatz strong{
	font-size: 26px;
	font-weight: 700;
}
.zinssatz strong{
	font-weight: 700;
	margin-right: 5px
}
.anbieter img{
	max-height: 37px;
	max-width: 180px
}
.panel-body .item{
	padding:5px 10px;
	border-bottom: 2px solid #c3c1c1;
	min-height: 40px;
}
.panel-body p{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0
}
.panel-aktuelle-news p{
	margin-left: 0;
}
.panel-body .panel-body-footer{
	padding: 10px;
}

.col-lg-3.left h4{
	font-size: 16px;
}

.col-lg-9.right h6{
	font-size: 16px;
}

.col-lg-9.right ul > li{
	margin-bottom: 25px;
	list-style-image: url('includes/img/bullet.png');
	padding-left: 10px
}
.top-5-festgeld ol{
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0;
}
.top-5-festgeld ol > li{
	border-bottom: 1px solid #c3c1c1;
	list-style-position: inside;

}
.top-5-festgeld ol > li > strong{
	font-size: 26px;
	font-weight: 700;
	float: right;
	padding: 8px
}
.top-5-festgeld ol > li > a{
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	width: 50%;
	font-size: 16px;
}
.top-5-festgeld .btn-default{
	width: 100%;
	display: block;
}
.top-5-festgeld .panel-body .panel-body-footer{
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.panel-default.wissenswertes .panel-news .body{
	padding: 10px;
	font-size: 18px;
}
.panel-default.wissenswertes .panel-news h3{
	margin-top: 0;
	font-size: 30px;
	font-weight: 700;
	color: #3f5fa8;
	margin-top: 10px
}
.panel-default.wissenswertes .panel-news p{
	font-size: 18px;
}
.panel-default.wissenswertes .panel-news h4{
	font-size: 24px;
	font-weight: 600;
	margin-top: 30px;
}
.panel-default.wissenswertes .panel-news ul{
	padding-left: 15px;
	margin-bottom: 30px;
}
.panel-default.wissenswertes .panel-news ul > li{
	border: none;
	font-size: 18px;
	padding: 0
}

.container.single{
	margin-top: 55px;
	padding-left: 0;
	padding-right: 0;
}
.container.single h1{
	font-size: 36px;
	color: #3f5fa8;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 0
}
.container.single p{
	font-size: 16px;
}
.tagesgeld-footer-date{
	margin-bottom: 45px;
}
/* DivTable.com */
.table-tagesgeld{
	width: 100%;
	margin-bottom: 10px;
}
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableRow.body .divTableCell, .divTableHead {

	display: table-cell;
	padding: 20px 10px;
	text-align: center;
	vertical-align: middle;
}
.cellBorder{
	border: 2px solid #fff;
}
.divTableRow.body .divTableCell:first-child{
	border-left: none;
}
.divTableRow.body .divTableCell:last-child{
	border-right: none;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.divTable .divTableCell.zinssatz-row strong{
	font-size: 26px;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 10px;
}
.divTable .btn-default{
	background-color: #3f5fa8;
	color: #fff;
	border-color: #a5b4d6;
	border-radius: 0;
	padding: 10px 35px
}
.divTableRow.header{
	background-color: #3f5fa8;
	color: #fff;
}
.divTableRow.header .divTableCell{
	border: none;
	background-image: url('includes/img/header.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-top: 20px;
	padding-bottom: 20px;
	display: table-cell;
	text-align: center;
	font-size: 18px;
}
.divTableRow.header .divTableCell:last-child{
	background-image: none;
}
.divTableRow.body{
	background-color: #f0f0f0;
}
.divTableRow.body .divTableCell ul{
	text-align: left;
}
.divTableRow.body .divTableCell h3{
	font-weight: 700;
	margin: 0;
	text-align: left;
	font-size: 24px;
}
.divTableRow.body .divTableCell .image-txt,
.ct-festgeld-detail .image-txt{
	font-weight: 600;
	font-size: 26px;
	letter-spacing: -2px;
	text-align: left;
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.ct-festgeld-detail .image-txt{
  padding-top: 0;
  padding-bottom: 0;
}
.divTableRow.body .divTableCell img{
	max-width: 250px;
}
.ct-tagesgeld h1{
	font-weight: 700;
	font-size: 36px;
}
.ct-festgeld h1{
	margin-top: 0;
	font-weight: 700;
	font-size: 36px;
}
.festgeld-w{
	margin-top: 20px;
}
.divTableRow.body .divTableCell ul.anbieter{
	margin-left: 30px;
	padding-top: 10px;
	margin-bottom: 0;
}
.divTableRow.body .divTableCell ul.anbieter li{
	background-image: url('includes/img/check.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.divTableRow.body .divTableCell ul.bemerkungen{
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}
.divTableRow.body .divTableCell ul.bemerkungen li{
	padding-left: 10px;
	position: relative;
}
.divTableRow.body .divTableCell ul.bemerkungen li::after{
	content: "-";
	position: absolute;
	left: 0;
	top: 0
}
.divTableRow.body .divTableCell ul.bemerkungen li:last-child::after{
  content: "\003e";
  color: #337ab7
}
.divTableRow.body .divTableCell.bemerkungen-cell{
	padding-left: 30px;
	padding-right: 30px;
	width: 20%
}
.form-laufzeit .col-sm-6{
	padding-left: 0;
	padding-right: 0;
}
.form-laufzeit .control-label{
	padding-top: 0;
	background-color: #3c5fa5;
	color: #fff;
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	padding: 5px 15px;
	min-height: 36px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 100%;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) button{
	border-radius: 0;
	min-height: 36px;
	background-color: #f0f0f0;
	color: #282d30;
	border-color: #bbbaba;
	padding-left: 25px;
	min-width: 135px;
}
.bootstrap-select.btn-group .dropdown-menu{
	margin-top: 0;
	background-color: #f0f0f0;
	border-color: #bbbaba;
	border-radius: 0;
	min-width: 135px;
}
.bootstrap-select.btn-group .dropdown-menu li a{
	color: #282d30;
}
.panel-zinsticker-widget .panel-news ul > li > h3 > a,
.panel-zinsticker-widget .panel-news ul > li > a{
	font-size: 16px;
}
.panel-zinsticker-widget .panel-heading h3{
	text-align: center;
	font-size: 24px;
}
.panel-zinsticker-widget .panel-body .btn-default{
	width: 100%;
}
.entry-summary{
	background-color: #f0f0f0;
	padding: 25px 15px;
	font-size: 18px;
	line-height: 28px;
	margin-top: 30px;
	margin-bottom: 30px;

}
.entry-summary ul{
	padding-left: 25px;
	margin: 0
}
.entry-summary ul li{
	margin-bottom: 10px;
	font-weight: 600
}
h3.custom-headline{
	font-size: 26px;
	font-weight: 600;
}
h4.custom-headline{
	font-size: 26px;
	font-weight: 600;
	margin-top: 40px
}
.single article{
	margin-bottom: 60px
}
.single .author{
	background-color: #f0f0f0;
	padding: 15px 0px;
	margin-top: 45px
}
.single .author .header{
	margin-bottom: 0
}
.single .author .name{
	margin-bottom: 20px;
}
.entry-iframe{

}
.ct-page-custom iframe{
	width: 100%;
	height: 100%;
	min-height: 1650px
}
.divTableRow.body .divTableCell.zinssatz-row a{
	background-image: url('includes/img/arrow_blue_down.png');
	background-repeat: no-repeat;
	background-position: center right;
	display: inline-block;
	padding-right: 20px;
}
.divTableRow.body .divTableCell.zinssatz-row a.up{
	background-image: url('includes/img/arrow_blue.png');
}
.divTableRow.body.caption{
	position: relative;
	height: 220px;
}
.divTableRow.body.caption .caption-wrapper{
	position: absolute;
	width: 100%;
	background: #f0f0f0;
	text-align: center;
}
.divTableRow.body.caption .caption-wrapper .caption-inner{
	width: 70%;
	margin: 30px auto;
	border-top: 1px solid #c9c8c8;
}
.divTableRow.body.caption .caption-wrapper ul{
	padding-top: 10px;
	padding-bottom: 15px;
}
.divTableRow.body.caption .caption-wrapper ul li{
	padding-top: 5px;
	padding-bottom: 5px;
	color: #3d3d3d;
	border-bottom: 1px solid #c9c8c8;
	text-align: left;
}
.divTableRow.body.caption .caption-wrapper ul li span{
	min-width: 155px;
	display: inline-block;
}
.navbar-toggle{
	border: none;
	margin-right: 10px
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
.adx-widget{
	margin-bottom: 15px;
}
.ct-testimonials img{
	margin: auto;
}
.tbl-small{
	width: 100%;
	clear: both;
}
.tbl-small .cell{
	display: block;
	width: 100%;
	float: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
.tbl-small .image-txt,
.tbl-mobile .image-txt{
	font-size: 26px;
	letter-spacing: -2px;
}
.tbl-small .row{
	background-color: #f0f0f0;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.tbl-small .anbieter li,
.tbl-mobile .anbieter li{
	background-image: url('includes/img/check.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
.tbl-small .small-detail li,
.tbl-mobile .small-detail li{
	border-bottom: 1px solid #c9c8c8;
	padding-top: 5px;
	padding-bottom: 5px;
}
.tbl-small .small-detail li:last-child,
.tbl-mobile .small-detail li:last-child{
	border-bottom: none;
}
.tbl-small .small-detail li span,
.tbl-mobile .small-detail li span{
	min-width: 65%;
	display: inline-block;
}
.tbl-small ul.bemerkungen,
.tbl-mobile ul.bemerkungen{
	position: relative;
}
.tbl-small ul.bemerkungen li,
.tbl-mobile ul.bemerkungen li{
	padding-left: 10px;
}
.tbl-small ul.bemerkungen li::after,
.tbl-mobile ul.bemerkungen li::after{
	content: "-";
	position: absolute;
	left: 0;
}
.tbl-small ul.bemerkungen li:last-child::after,
.tbl-mobile  ul.bemerkungen li:last-child::after{
  content: "\003e";
  color: #337ab7;
}
.tbl-small .btn-default{
	background-color: #3f5fa8;
	color: #fff;
	border-color: #a5b4d6;
	border-radius: 0;
	padding: 10px 35px;
	width: 100%
}
.tbl-small .cell h6,
.tbl-mobile .cell h6{
	font-weight: 600;
	margin-top: 0;
	font-size: 18px;
	margin-bottom: 5px
}
.tbl-small .cell h3,
.tbl-mobile .cell h3{
	font-weight: 700;
	margin-top: 0
}
.tbl-small .cell strong,
.tbl-mobile .cell strong{
	font-size: 22px;
	display: inline-block;
}
.tbl-small .cell .zinssatz,
.tbl-mobile .cell .zinssatz{
	min-width: 70px;
	display: inline-block;
}


.tbl-mobile{
	width: 100%;
	clear: both;
}
.tbl-mobile .cell{
	display: block;
	width: 50%;
	float: left;
}
.tbl-mobile .row{
	background-color: #f0f0f0;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 15px;
	padding-right: 15px;
}
.tbl-mobile .btn-default{
	background-color: #3f5fa8;
	color: #fff;
	border-color: #a5b4d6;
	border-radius: 0;
	padding: 10px 35px;
}
.tbl-mobile .cell .img-responsive{
	max-width: 85%;
}
.tbl-mobile .cell h3{
	margin-top: 10px;
}
.form-horizontal .form-group{
	margin-left: 0;
	margin-right: 0;
}
.panel-body .item .zinssatz{
	max-width: 40%;
	width: 40%
}

.ct-category ul.list-category-news li{
	border-bottom: 1px solid #ccc
}
.ct-category ul.list-category-news li:last-child{
	border: none;
}
.ct-category ul.list-category-news{
	margin-bottom: 50px;
}

.ct-festgeld-detail h1,
.ct-festgeld-detail h3.description-title{
  color: #3c5fa5;
  font-weight: 700
}
.ct-festgeld-detail .breadcrumb{
  background: none;
  padding-left: 0;
  padding-right: 0;
}
.ct-festgeld-detail .breadcrumb li > a{
  color: #3d3d3d;
  font-size: 12px;
}
.ct-festgeld-detail .summary ul{
  border-top: 2px solid #c3c1c1;
  border-bottom: 2px solid #c3c1c1;
  margin-bottom: 30px
}
.ct-festgeld-detail .summary p{
  font-size: 18px;
  text-align: justify;
}
.ct-festgeld-detail .description{
  margin-bottom: 55px;
}
.ct-festgeld-detail .summary ul li {
  color: #3c5fa5;
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: url('includes/img/check_green.png');
  background-position: left 0 top 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  font-weight: 400;
}
.ct-festgeld-detail .info-box{
  background: #f0f0f0;
  margin-top: 30px;
  padding: 15px;
  margin-bottom: 15px;
}
.ct-festgeld-detail .info-box h3{
  font-size: 26px;
  color: #3d3d3d;
  margin: 0;
  font-weight: bold;
  background-image: url('includes/img/info.png');
  background-position: left 0 top 0px;
  background-repeat: no-repeat;
  background-size: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 50px
}

.ct-festgeld-detail .info-box ul li{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.ct-festgeld-detail .info-box ul li span{
  min-width: 245px;
  display: inline-block
}
.ct-festgeld-detail .bank-info{
  background: #f0f0f0;
  padding: 15px;
  margin-bottom: 30px;
}
.ct-festgeld-detail .btn-default{
  background-color: #3f5fa8;
  color: #fff;
  border-radius: 0;
  width: 100%;
}
.ct-festgeld-detail .bank-info ul{
  list-style: disc;
  list-style-position: inside;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ct-festgeld-detail .bank-info ul li{
  font-size: 18px;
}
.ct-festgeld-detail .zinssatz ul li span{
  display: inline-block;
  width: 40%;
  text-align: right;
  font-size: 18px;
  padding-top: 5px;
  color: #337ab7;
  font-size: 18px;
}
.ct-festgeld-detail .zinssatz ul li strong{
  display: inline-block;
  width: 50%;
  text-align: right;
  font-size: 24px
}
.ct-festgeld-detail .panel-news ul > li{
  padding: 0
}
.ct-festgeld-detail .panel-news ul > li:last-child{
  border-bottom: 0
}

.ct-festgeld-detail .breadcrumb > li + li::before{
  content: "\003e";
}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
    	.divTableRow.body .divTableCell{
    		width: 100%;
    		display: block;
    		text-align: left;
    	}
    	.divTable .divTableCell.zinssatz-row span{
    		display: inline;
		}
		.divTable .divTableRow.header{
			display: none;
		}
		.navbar .maxwidth-1 {
			height: auto;
		}
		.maxwidth-1{
			max-width: 100%;
		}
		.navbar .navbar-brand img{
			height: 30px;
		}
		.navbar-nav{
			text-align: left;
			width: 100%
		}
		.navbar-collapse{
			padding-left: 0;
			padding-right: 0;
		}
		.navbar-nav > li > a{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header{
			padding: 5px 15px 5px 15px
		}
		.navbar-nav .open .dropdown-menu{
			margin-left: 15px;
		}
		.ct-menu{
			margin-top: 75px;
		}
		.ct-menu h2{
			font-size: 24px;
			margin-left: 0;
			margin-right: 0
		}
		.ct-top h1{
			font-size: 24px;
			margin-left: 15px;
			margin-right: 15px;
		}
		.panel-default{
			margin-left: -15px;
			margin-right: -15px;
		}
		.anbieter{
			max-width: 60%;
			width: 60%;
		}
		.table-tagesgeld .zinssatz{
			max-width: 40%;
			width: 40%;
		}
		.panel-heading h3{
			text-align: left;
		}
		.panel-aktuelle-news ul > li > p{
			font-size: 16px;
		}
		.panel-news ul > li > h3 > a{
			font-size: 16px;
		}
		footer p{
			margin-top: 15px;
		}
		.ct-testimonials h3{
			font-size: 24px;
		}
		.ct-testimonials .col-lg-9.right{
			padding-left: 0;
			padding-right: 0;
		}
		.ct-testimonials ul{
			padding-left: 15px;
		}
		.ico{
			width: 135px;
			height: 100px;
			margin: 5px;
		}
		.form-laufzeit-wrapper{
			width: 100%
		}
		.form-laufzeit .control-label{
			width: 100%
		}
		.tbl-small {
			display: block;
		}
		.tbl-mobile{
			display: none;
		}
		.tbl-desktop{
			display: none;
		}
		.form-horizontal.form-laufzeit{
			float: none;
		}
		.bootstrap-select.btn-group .dropdown-menu{
			width: 100%;
		}
		.bootstrap-select.btn-group .dropdown-toggle .filter-option{
			text-align: center;
		}
		footer ul{
			width: 100%;
		}
		footer ul > li {
			float: none;
		}
		footer ul > li > a{
			text-align: left;
		}
		.footer-menu li:not(:last-child) a::after {
		  content: '';
		  position: relative;
		  top: 0;
		  padding-left: 0;
		  color: #fff;
		}
		.entry-summary{
			margin-left: -15px;
			margin-right: -15px;
		}
		.navbar-nav .dropdown-menu{
	        display: block;
	        position: static;
	        background-color:transparent;
	        border:0 none;
	        box-shadow:none;
	        margin-top:0;
	        width:100%;
	    }
	    .dropdown-submenu > .dropdown-menu{
	    	margin: 0;
	    }
	    .dropdown-submenu > .dropdown-menu > li > a{
	    	padding-left: 30px;
	    }
    	.zinssatz strong{
    		font-size: 24px;
    	}
    	.ct-category ul.list-category-news li h3{
			font-weight: 600;
			letter-spacing: 1px;
			font-size: 26px
		}
    .ct-festgeld-detail .summary ul{
      padding-left: 0;
    }
    .ct-festgeld-detail h1,
    .ct-festgeld-detail h3.description-title{
      font-size: 32px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .ct-festgeld-detail h3.description-title{
      font-size: 26px;
    }
    .ct-festgeld-detail .breadcrumb{
      margin-bottom: 5px;
    }
    .ct-festgeld-detail .summary ul{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .ct-festgeld-detail .summary ul li{
      font-size: 20px;
    }
    .ct-festgeld-detail .info-box ul{
      padding-left: 0px;
    }
    .ct-festgeld-detail .info-box{
      margin-left: -15px;
      margin-right: -15px;
    }
    .ct-festgeld-detail .bank-info{
      margin-left: -15px;
      margin-right: -15px;
    }
    .ct-festgeld-detail .zinssatz ul li span{
      text-align: left;
    }
    .ct-festgeld-detail .zinssatz ul li strong{
      text-align: right;
    }
    .ct-festgeld-detail table tr td:first-child{
      padding-left: 0;
      padding-right: 0;
      width: 32%
    }
    .ct-festgeld-detail table tr td{
      font-size: 16px;
      border: none
    }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
    	.divTable .divTableCell.zinssatz-row span{
    		display: none;
		}
    	.divTableRow.body .divTableCell{
    		width: auto;
    		display: table-cell;
    		text-align: center;
    	}
    	.divTable .divTableRow.header{
			display: table-row;
		}
		.navbar .navbar-brand img{
			height: 34px;
		}
		.panel-default{
			margin-left: 0;
			margin-right: 0;
		}
		.tbl-small {
			display: none;
		}
		.tbl-mobile{
			display: block;
		}
		.tbl-desktop{
			display: none;
		}
		.bootstrap-select.btn-group .dropdown-toggle .filter-option{
			text-align: center;
		}

		.zinssatz strong{
    		font-size: 26px;
    	}
      .ct-festgeld-detail .zinssatz ul li span{
        text-align: center;
      }
      .ct-festgeld-detail .zinssatz ul li strong{
        text-align: center;
      }
      .ct-festgeld-detail table tr td:first-child{
        padding-left: 50px;
        padding-right: 8px;
      }
      .ct-festgeld-detail table tr td{
        font-size: 18px
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .ct-festgeld-detail .bank-info{
        margin-left: 0;
        margin-right: 0;
      }
      .ct-festgeld-detail .info-box{
        margin-left: 0;
        margin-right: 0;
      }
      .ct-festgeld-detail .summary ul{
        padding-left: 25px;
      }
      .ct-festgeld-detail .breadcrumb{
        margin-bottom: 20px;
      }
      .ct-festgeld-detail .summary ul{
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .ct-festgeld-detail .summary ul li{
        font-size: 24px;
      }
    	.navbar-nav{
			text-align: center;
			width: auto;
		}
		.navbar-nav > li > a{
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.ct-menu h2{
			font-size: 36px;
			margin-left: 20px;
			margin-right: 20px;
		}
		.ct-top h1{
			font-size: 36px;
			margin-left: 15px;
			margin-right: 15px;
		}

		.anbieter{
			max-width: 60%;
			width: 60%;
		}
		.table-tagesgeld .zinssatz{
			max-width: 35%;
			width: 35%;
		}
		.panel-heading h3{
			text-align: center;
		}
		.ct-testimonials .col-lg-9.right{
			padding-left: 15px;
			padding-right: 15px;
		}
		.ico{
			width: 210px;
			height: 100px;
			margin: 15px 20px;
		}
		.navbar-nav .open .dropdown-menu{
			margin-left: 0;
		}
		.form-laufzeit-wrapper{
			width: 35%
		}
		.form-laufzeit .control-label{
			width: auto
		}
		.tbl-small {
			display: none;
		}
		.tbl-mobile{
			display: block;
		}
		.tbl-desktop{
			display: none;
		}
		.form-horizontal.form-laufzeit{
			float: right;
		}
		.bootstrap-select.btn-group .dropdown-toggle .filter-option{
			text-align: left;
		}
		footer ul{
			width: auto;
		}
		footer ul > li {
			float: left;
		}
		footer ul > li > a{
			text-align: center;
		}
		.footer-menu li:not(:last-child) a::after {
		  content: '-';
		  position: relative;
		  top: 0;
		  padding-left: 20px;
		  color: #fff;
		}
		.entry-summary{
			margin-left: 0;
			margin-right: 0;
		}
		.navbar-default .navbar-nav > li > a{
			display: block;
		}
		.navbar-nav .dropdown-menu{
	        display: none;
	        position: absolute;
	        background-color:transparent;
	        border:0 none;
	        box-shadow:none;
	        margin-top:0;
	        min-width:160px;
	        width: auto;
	    }
	    .dropdown-submenu > .dropdown-menu{
	    	margin: 0;
	    }
	    .dropdown-submenu > .dropdown-menu > li > a{
	    	padding-left: 30px;
	    }


		.dropdown:hover > .dropdown-menu {
		  display: block;
		}
		.ct-category ul.list-category-news li h3{
			font-weight: 600;
			letter-spacing: 2px;
			font-size: 30px
		}
		.divTableRow.body .divTableCell.divTableAnbieter{
			width: 50%;
		}
    .ct-festgeld-detail h1,
    .ct-festgeld-detail h3.description-title{
      font-size: 36px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    .ct-festgeld-detail h3.description-title{
      font-size: 26px;
    }
    .ct-festgeld-detail .info-box ul{
      padding-left: 50px;
    }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	.navbar .maxwidth-1 {
			height: 60px;
		}
		.ct-menu{
			margin-top: 125px;
		}
		.tbl-small {
			display: none;
		}
		.tbl-mobile{
			display: none;
		}
		.tbl-desktop{
			display: block;
		}
    .ct-festgeld-detail .zinssatz ul li span{
      text-align: right;
    }
    .ct-festgeld-detail .zinssatz ul li strong{
      text-align: right;
    }
    .ct-festgeld-detail table tr td{
      font-size: 20px
    }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	.maxwidth-1{
			max-width: 74%;
			position: relative;
		}
		.panel-aktuelle-news ul > li > a{
			font-size: 30px;
			letter-spacing: 2px;
		}
		.panel-aktuelle-news ul > li > p{
			font-size: 20px;
		}
		.panel-news ul > li > h3 > a{
			font-size: 20px;
		}
		footer p{
			margin-top: 45px;
		}
		.ct-testimonials h3{
			font-size: 30px;
		}
		.col-lg-3.left{
			width: 18.91472868217054%
		}
		.col-lg-9.right{
			width: 81.08527131782946%
		}
		.ct-testimonials ul{
			padding-left: 30px;
		}

    }


	.shadow {
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	}

	.shadow-lg {
		box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
	}

	.d-block {
		display: block !important;
	}

	.d-flex {
		display: flex !important;
	}

	.justify-content-between {
		justify-content: space-between !important;
	}
	.align-items-center {
		align-items: center !important;
	}

	.svg--small {
		height: .75em;
	}

	.svg--regular {
		height: 2em;
	}

	.btn-link:focus,
	.btn-link:active:focus {
		outline: none;
	}

	.tagesgeld--small .card-body {
		padding-left: 15px;
		padding-right: 15px;
	}

	.tagesgeld--small .btn-link:hover,
	.tagesgeld--small .btn-link:focus {
		text-decoration: none;
	}

	.my-0 {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	.my-2 {
		margin-top: 20px !important;
		margin-bottom: 20px !important;
	}

	.px-0 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.py-g {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}

	.py-1 {
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}

	.border-bottom {
		border-bottom: 1px solid rgb(71, 71, 71);
	}
	.border-top {
		border-top: 1px solid rgb(71, 71, 71);
	}

	.p-0 {
		padding: 0 !important;
	}

	.border-0 {
		border: none !important;
	}

	.tagesgeld--small .btn-link .svg--small{
		transform: rotate(0deg);
		transition: transform .15s ease-in-out;
	}

	.tagesgeld--small .btn-link:not(.collapsed) .svg--small{
		transform: rotate(180deg);
		transition: transform .15s ease-in-out;
	}

	.text-black {
		color: rgb(51, 51, 51) !important;
	}

	.px-2 {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}

	.py-0 {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	.text-truncate {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.fw-600 {
		font-weight: 600 !important;
	}

	.bg-gray {
		background-color: #f0f0f0 !important;
	}

	.flex-grow-1 {
		flex-grow: 1 !important;
	}
